# for testing
nose
nose_fixes
nose-cov
coveralls
tox
# for docs
sphinx
pkginfo
six
# for build
panci
setuptools-git
wheel
twine
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
